.categories__title {
  background-color: black;
  color: black;
  font-size: 16px;
  margin-top: -16px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
}
.categories{
  background-color: white;
  width: 30%;
  border-radius: 25px;
  display: flow-root;
  text-align: -webkit-center;
}